.inputCheck {
  transform: scale(1.5);
  margin-left: 4rem;
}
.inputCheck:hover {
  transform: scale(1.7);
}
button {
  height: 1rem;
  font-size: 1.6rem;
  border-radius: 5px;
  margin-left: 2rem;
  padding: 0.5rem;
  border: none;
}
button:hover {
  font-size: 2rem;
  background-color: red;
  box-shadow: 5x 5px 5px red;
}
.containerItem {
  display: flex;
  align-items: center;

  background-color: coral;
  box-shadow: 10px 10px 10px black;
  min-width: 50vw;

  border-radius: 5px;
  margin: 1rem;
}
.containerItem:hover {
  transform: scale(1.02);
  background-color: red;
}

@media screen and (max-width: 320px) {
  .containerItem {
    width: 90vw;
  }
}
@media screen and (max-width: 376px) {
  .containerItem {
    width: 90vw;
  }
}
@media screen and (max-width: 426px) {
  .containerItem {
    width: 90vw;
  }
}
@media screen and (max-width: 769px) {
  .containerItem {
    width: 80vw;
  }
}
