.inputCheck {
  width: 2rem;
}
button {
  height: 1rem;
  border-radius: 5px;
  margin: 2rem 1rem;
  padding: 0.5rem;
}
.containerItem {
  display: flex;
  background-color: coral;
  box-shadow: 10px 10px 10px black;
  min-width: 40vw;

  border-radius: 5px;
  margin: 2px;
}
.containerTarea {
  width: 90%;
  display: flex;
  text-align: center;
  align-items: center;
}
