.formContainer {
  display: flex;
  align-items: center;
  height: 2.7rem;
}

.inputForm {
  background-color: rgb(173, 173, 173);
  height: 2.5rem;
  width: 40vw;
  color: white;
  padding-left: 0.8rem;
  font-size: 1.3rem;
  border-radius: 8px;
  box-shadow: 10px 10px 10px black;
}
.formContainer :hover {
  box-shadow: -10px 10px 10px black;
}
button {
  font-size: 1.6rem;
  height: 3rem;
  background-color: coral;
}
.formContainer {
  margin-bottom: 5vh;
  box-shadow: 10px 10px 10px black;
}
@media screen and (max-width: 320px) {
  .formContainer {
    width: 97vw;
    /* margin-bottom: 10vh; */
    box-shadow: 10px 10px 10px black;
  }
  .inputForm {
    background-color: rgb(173, 173, 173);
    height: 2rem;
    width: 70vw;
    color: white;
    padding-left: 0.8rem;
    font-size: 1.3rem;
    border-radius: 8px;
    box-shadow: 10px 10px 10px black;
  }
  button {
    font-size: 1.3rem;
    height: 2.5rem;
    background-color: coral;
  }
}

@media screen and (max-width: 376px) {
  .formContainer {
    width: 97vw;
    /* margin-bottom: 10vh; */
    box-shadow: 10px 10px 10px black;
  }
  .inputForm {
    background-color: rgb(173, 173, 173);
    height: 2rem;
    width: 70vw;
    color: white;
    padding-left: 0.8rem;
    font-size: 1.3rem;
    border-radius: 8px;
    box-shadow: 10px 10px 10px black;
  }
  button {
    font-size: 1.3rem;
    height: 2.5rem;
    background-color: coral;
  }
}
@media screen and (max-width: 426px) {
  .formContainer {
    width: 97vw;
    /* margin-bottom: 10vh; */
    box-shadow: 10px 10px 10px black;
  }
  .inputForm {
    background-color: rgb(173, 173, 173);
    height: 2rem;
    width: 70vw;
    color: white;
    padding-left: 0.8rem;
    font-size: 1.3rem;
    border-radius: 8px;
    box-shadow: 10px 10px 10px black;
  }
  button {
    font-size: 1.3rem;
    height: 2.5rem;
    background-color: coral;
  }
}
@media screen and (max-width: 769px) {
  .formContainer {
    width: 97vw;
    /* margin-bottom: 10vh; */
    box-shadow: 10px 10px 10px black;
  }
  .inputForm {
    background-color: rgb(173, 173, 173);
    height: 2rem;
    width: 70vw;
    color: white;
    padding-left: 0.8rem;
    font-size: 1.3rem;
    border-radius: 8px;
    box-shadow: 10px 10px 10px black;
  }
  button {
    font-size: 1.3rem;
    height: 2.5rem;
    background-color: coral;
  }
}
